* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Fonts */
@font-face {
  font-family: 'Nilland';
  src: url("../fonts/nilland-webfont.eot");
  src: url("../fonts/nilland-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nilland-webfont.woff") format("woff"), url("../fonts/nilland-webfont.ttf") format("truetype"), url("../fonts/nilland-webfont.svg#nillandregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nillandbold';
  src: url("../fonts/nilland-bold-webfont.eot");
  src: url("../fonts/nilland-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nilland-bold-webfont.woff") format("woff"), url("../fonts/nilland-bold-webfont.ttf") format("truetype"), url("../fonts/nilland-bold-webfont.svg#nillandbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Font Usage
font-family: 'Lato', sans-serif;
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif;
*/
/* ------------------------------------
 General defaults
-------------------------------------*/
/* Sticky Footer */
body {
  background: url(../images/bg.jpg) repeat-y scroll 0 0 black;
  color: #adadad;
  font: 1em/1.3em Arial, sans-serif;
  font-size: 100%;
  line-height: 2em; }

.bg-one {
  position: fixed;
  top: 0;
  left: 50%;
  border: 620px solid #7f7f7f;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  opacity: .6;
  z-index: -1;
  margin-left: -624px; }

.bg-two {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: -1;
  margin-left: -810px;
  border: 804px solid #4f4f4f;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  opacity: .6; }

/* - Typography Basics - from Gridless http://thatcoolguy.github.com/gridless-boilerplate/ */
h1, h2, h3, h4, h5, h6 {
  color: #00adef;
  font-family: 'Nilland', serif;
  font-size: 1em; }

h1 {
  font-size: 3.25em;
  line-height: 1.1471em;
  margin: 0 0 0.3824em; }
  @media screen and (min-width: 868px) {
    h1 {
      font-size: 4.25em;
      /* 68px */ } }

h2 {
  font-size: 1.725em;
  line-height: 1.2381em;
  margin: 0 0 0.619em; }
  @media screen and (min-width: 868px) {
    h2 {
      font-size: 2.625em;
      /* 42px */ } }

h3 {
  font-size: 1.625em;
  /* 26px */
  line-height: 1em;
  margin: 0 0 1em; }

/* end typography basics */
/* responsive images, videos */
img, object, video {
  height: auto;
  max-width: 100%; }

/* Overrides for Media module to make fitVids work */
.media-youtube-outer-wrapper, .media-youtube-preview-wrapper, .media-vimeo-outer-wrapper, .media-vimeo-preview-wrapper {
  height: auto !important;
  width: auto !important; }

/* end typography basics */
a {
  color: #000; }
  a.blue {
    color: #00adef; }

.wrap, .footer-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrap:before, .wrap:after, .footer-container:before, .footer-container:after {
    content: " ";
    display: table; }
  .wrap:after, .footer-container:after {
    clear: both; }

header, .page, footer {
  padding: 0 4%;
  display: block;
  float: left;
  margin-right: 1.75788%;
  width: 100%; }
  header:last-child, .page:last-child, footer:last-child {
    margin-right: 0; }
  @media screen and (min-width: 868px) {
    header, .page, footer {
      padding: 0; } }

.page {
  padding: 0; }
  @media screen and (min-width: 868px) {
    .page {
      padding: 0 2%; } }

/* ------------------------------------
 Drupal defaults
-------------------------------------*/
.region-aside .block {
  clear: both;
  margin-bottom: 20px; }

.view-content ul, .view-content ol {
  margin: 0;
  padding: 0; }

.item-list ul li.views-row, .views-row {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

/* tabs */
ul.primary {
  height: 22px;
  line-height: 1em; }
  ul.primary li {
    display: inline;
    margin: 0;
    padding: 0; }
    ul.primary li a {
      border-radius: 3px 3px 0 0;
      padding: 7px 7px 5px; }

/* Node */
.node .field li {
  list-style: disc;
  margin: .5% 3%; }

/* Tables */
td, th {
  padding: 2%; }

/* Forms */
form small, form .description {
  color: #5f5f5f; }

.required {
  color: #000; }

input[type="text"], input[type="password"], input[type="email"] {
  border: 1px solid #7a7b7b;
  padding: 10px 34px 10px 10px;
  font-size: 1em;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35) inset;
  margin: 10px 0; }

input[type="submit"] {
  border: none;
  cursor: pointer;
  margin-top: 10px; }
  input[type="submit"]:hover {
    text-decoration: none; }

.page input[type="submit"] {
  background-color: #30a13f;
  color: #fff;
  display: inline-block;
  font-family: 'Nilland', serif;
  padding: .5% 2%;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  padding: .75% 1.5%; }
  @media screen and (min-width: 868px) {
    .page input[type="submit"] {
      width: auto; } }
  .page input[type="submit"]:hover {
    background-color: #40a84e;
    text-decoration: none; }

/* User Login */
#user-login div {
  margin: 15px 0; }
#user-login label {
  display: block; }

.views-field-view-node a {
  background-color: #30a13f;
  color: #fff;
  display: inline-block;
  font-family: 'Nilland', serif;
  padding: .5% 2%;
  font-size: 1.1em;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 868px) {
    .views-field-view-node a {
      width: auto; } }
  .views-field-view-node a:hover {
    background-color: #40a84e;
    text-decoration: none; }

/* ------------------------------------
 Header
-------------------------------------*/
/* Nav gradient from #30a13f to #2a8c37; */
@media screen and (min-width: 868px) {
  header figure {
    float: left;
    margin: 0 0 2%; } }
header figure a {
  background: url(../images/sprite.png) no-repeat scroll 0 0;
  background-position: 0 0;
  display: block;
  height: 0;
  overflow: hidden;
  background-size: cover;
  margin: 0 auto 20px;
  padding-top: 173px;
  width: 263px; }
  @media screen and (min-width: 868px) {
    header figure a {
      background-size: auto;
      margin: 0;
      padding-top: 184px;
      width: 363px; } }

.header-region {
  margin-top: -55px;
  text-align: center; }
  @media screen and (min-width: 868px) {
    .header-region {
      margin-top: 0;
      text-align: left; } }
  .header-region nav {
    display: inline-block;
    margin: 6% 1%; }
    @media screen and (min-width: 868px) {
      .header-region nav {
        float: right; } }
    .header-region nav h2 {
      display: none; }
    .header-region nav li {
      display: inline-block;
      float: left; }
      .header-region nav li.last {
        display: none; }
        @media screen and (min-width: 868px) {
          .header-region nav li.last {
            display: inline-block; } }
    .header-region nav > ul a {
      background-color: #d3d3d3;
      color: #545454;
      display: block;
      padding: 8% 0;
      width: 69px;
      border: 1px solid #b9b9b9; }
      @media screen and (min-width: 868px) {
        .header-region nav > ul a {
          padding: 9px 25px;
          width: auto; } }
      .header-region nav > ul a:hover, .header-region nav > ul a.active {
        background-color: #30a13f;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #30a13f), color-stop(100%, #2a8c37));
        background-image: -webkit-linear-gradient(top, #30a13f, #2a8c37);
        background-image: -moz-linear-gradient(top, #30a13f, #2a8c37);
        background-image: -ms-linear-gradient(top, #30a13f, #2a8c37);
        background-image: -o-linear-gradient(top, #30a13f, #2a8c37);
        background-image: linear-gradient(top, #30a13f, #2a8c37);
        border-color: #3b9147;
        color: #fff;
        text-decoration: none; }

/* ------------------------------------
 Content
-------------------------------------*/
#main-content {
  background-color: #fff;
  color: #000;
  padding: 1em .8em;
  margin-bottom: 40px;
  position: relative; }
  @media screen and (min-width: 868px) {
    #main-content {
      padding: 1em 1.5em; } }

/* Team Node */
article.node-team {
  overflow: hidden; }

.node-type-team .post-content {
  margin: 6% 4%; }
  @media screen and (min-width: 868px) {
    .node-type-team .post-content {
      margin: 6% 0 0; } }

@media screen and (min-width: 868px) {
  .node-team .field-type-image {
    width: 48%;
    float: left;
    margin-right: 4%; } }
.node-team h1 {
  font-size: 2.7em;
  margin-bottom: 5px; }
.node-team h2 {
  font-size: 2em;
  color: #aaa; }

/* Project Node */
.node-video {
  overflow: hidden; }
  .node-video .field-type-taxonomy-term-reference .field-item {
    color: #fff;
    display: inline-block;
    padding: 2px 12px;
    margin-right: 12px;
    -webkit-transform: skew(-10deg, 0);
    -moz-transform: skew(-10deg, 0);
    -ms-transform: skew(-10deg, 0);
    -o-transform: skew(-10deg, 0);
    transform: skew(-10deg, 0);
    background-color: #bebebe;
    float: left;
    margin: 10px 0 0 7px; }
    .node-video .field-type-taxonomy-term-reference .field-item span {
      display: inline-block;
      -webkit-transform: skew(10deg, 0);
      -moz-transform: skew(10deg, 0);
      -ms-transform: skew(10deg, 0);
      -o-transform: skew(10deg, 0);
      transform: skew(10deg, 0); }

/* ------------------------------------
 Footer
-------------------------------------*/
.footer-wrap {
  clear: both;
  background: url(../images/grass.png) repeat-x scroll bottom center;
  overflow: hidden;
  padding-bottom: 70px;
  width: 100%; }
  @media screen and (min-width: 868px) {
    .footer-wrap {
      height: 416px;
      padding-top: 70px;
      padding-bottom: 0; } }

footer {
  font-size: .8em;
  position: relative; }
  @media screen and (min-width: 868px) {
    footer > * {
      display: inline-block;
      float: left;
      width: 24%; } }
  footer h2 {
    font: 1.3em/2em Arial, sans-serif; }
  footer a, footer a.active {
    color: #adadad; }
  footer li a {
    text-transform: uppercase; }
  footer .mootv {
    background: url(../images/sprite.png) no-repeat scroll 0 0;
    background-position: -362px 0;
    display: block;
    height: 0;
    overflow: hidden;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 210px;
    width: 278px;
    position: absolute;
    bottom: -117px;
    right: -38px;
    z-index: -1; }
    @media screen and (min-width: 868px) {
      footer .mootv {
        right: -4px; } }

/* Contact Forms */
.contact-page #main-content {
  overflow: hidden; }
.contact-page .webform-client-form .form-item > label {
  display: block; }
.contact-page .webform-client-form input[type="text"], .contact-page .webform-client-form input[type="email"] {
  width: 298px; }
.contact-page .webform-client-form textarea {
  height: 150px; }
.contact-page input[type="submit"] {
  padding: 10px; }

.block-webform-client-block-53, .block-webform-client-block-54 {
  float: left;
  width: 45%; }

.block-webform-client-block-53 {
  margin-right: 9%; }
