@import "bourbon/bourbon";
@import "neat/neat";
@import "grid-settings";
@import "defaults";

/* ------------------------------------
 Header
-------------------------------------*/
.header-region {
  > div {
    clear: both;
    box-shadow: 0 0 9px #1f1f1f;
    position: relative;
  }
  .views-field-nothing a {
    @include sprite(-247px 0);
    width: 300px;
    padding-top: 176px;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -47px;
    background-size: contain;
    display: none;
    @include media ($tablet) {
      background-size:auto;
      background-position: -630px 0;
      display: block;
      margin-left: -68px;
      margin-top: -123px;
      width: 142px;
    }
    &:hover {
      opacity: .9;
    }
  }
}
h1 {
  font-size: 1.7em;
  text-align: center;
  padding:0 5%;
  @include media ($tablet) {
    float: left;
    font-size: 2.7em;
    padding: 0;
    margin-right:5%;
    text-align: left;
    width: 38%;
  }
}
article {
  font-size: 0.9em;
  padding: 0 7%;
  text-align: center;
  @include media ($tablet) {
    float: left;
    font-size: 100%;
    padding: 0;
    text-align: left;
    width: 57%;
  }
}


/* ------------------------------------
 Content
-------------------------------------*/
.page {
  margin: 9% 0 0;
}
#main-content {
  background-color: transparent;
  color: #fff;
  padding:0;
  margin-bottom: 0;
}
.block-views-team-block-1  {
  background-color: #e4e4e4;
  box-shadow: 0 0 9px #1f1f1f;
  clear: both;
  color: #222;
  margin: 8% 0;
  position: relative;
  padding: 2%;
  @include media($tablet) {
    float: left;
    padding: 0;
  }
  &:after {
    content: "";
    border: 123px solid #4f4f4f;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    z-index: -2;
    opacity: .6;
    position: absolute;
    bottom: -246px;
    margin-left: -129px;
    left: 50%;
  }
  h2 {
    margin: 0;
    font-size: 1.6em;
    @include media($tablet) {
      font-size: 2.625em;
      padding-top: 10px;
    }
    a {
      color: $blue;
    }
  }
  h3 {
    color: #595959;
    margin-bottom: 12px;
    font-size: 1.2em;
    @include media($tablet) {
      font-size: 1.625em;
      margin-bottom: 19px;
    }
  }
}
.view-id-team:after {
    content: "";
    border: 75px solid #fff;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    position: absolute;
    bottom: -150px;
    left: 50%;
    margin-left: -80px;
    z-index: -1;
    opacity: .7;
}
  .views-field-field-staff-image {
  @media(all and min-width:612px) {
    float: left;
    margin-right: 2%;
    width: 46%;
  }
  @include media($tablet) {
    margin-right:3%;
    width: 49%;
    img {
      display: block;
    }
  }
}
.views-field-body p {
  font-size: .8em;
  line-height: 1.5em;
}
.views-field-view-node {
  margin: 15px 0;
}
.views-field-field-team-category {
    display: none;
    @include media($tablet) {
      display: block;
    }
}
.views-field-field-team-category ol {
  li {
      background-color: #bebebe;
      @include skew;
  }
}
.block-views-videos-block-2 {
  clear: both;
  padding: 16% 4% 0;
  @include media($tablet) {
    padding: 8% 0 0;
  }
  .view-header {
    margin-bottom: 14px;
  }
}


